/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body
{

     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color:#314556;



}

#logo{
    width: 200px;
    height: 200px;
    margin-left: 100px;
     position:relative;
}

/* Sets the background image for the wheel */
td.the_wheel
{  
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1{ position: absolute;
    text-align: center;
    top: 0;
    font-family: 'Muli', sans-serif;
    font-size: 5vw;
    color:white;
    margin-left: 350px;

}

p{  position: relative;
    margin-top: 10px;
    font-family: 'Handlee', cursive;
    font-size: 2vw;
    color: #fde9e2;
}

div.power_controls
{
    margin-right:70px;
    font-family: Karla;
}

div.html5_logo
{
    margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1
{
    background-color:   #e1eae9;
}

td.pw2
{
    background-color: #c3d6d2;
}

td.pw3
{
    background-color:   #b9d0ca;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}
.but {
   color: black;
}
.but:hover {
     background-color:#78a4d3;
     color:black;
}
@media only screen (max-width:500px ){
    h1{
        font-size: 2vw;
    }
}
